<html>
<head>
	<title>Welcome</title>
</head>
<body>
	<table>
		<tr>
			<td>User id</td>
			<td><%= userId %></td>
		</tr>
		<tr>
			<td>Selfie from Base64 Data</td>
			<td><img width="200" alt="selfie" src="<%= profile.selfie %>" /></td>
		</tr>
		<tr>
			<td>Download Selfie</td>
			<td><a href="<%= profile.selfie %>" download="YotiSelfie.jpeg" target="_blank">Download Selfie</a></td>
		</tr>
		<tr>
			<td>Saved Selfie</td>
			<td><img width="200" alt="selfie" src="/static/YotiSelfie.jpeg" /></td>
		</tr>
		<tr>
			<td>Given Names</td>
			<td><%= profile.givenNames %></td>
		</tr>
		<tr>
			<td>Family Name</td>
			<td><%= profile.familyName %></td>
		</tr>
		<tr>
			<td>Phone Number</td>
			<td><%= profile.phoneNumber %></td>
		</tr>
		<tr>
			<td>Date of birth</td>
			<td><%= profile.dateOfBirth %></td>
		</tr>
		<tr>
			<td>Postal Address</td>
			<td><%= profile.postalAddress %></td>
		</tr>
		<tr>
			<td>Email Address</td>
			<td><%= profile.emailAddress %></td>
		</tr>
		<tr>
			<td>Nationality</td>
			<td><%= profile.nationality %></td>
		</tr>
		<tr>
			<td>Gender</td>
			<td><%= profile.gender %></td>
		</tr>
	</table>
</body>
</html>
