<html>
<head>
	<title>Welcome</title>
	<link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
<body>
	<p><h1>Yoti User Profile</h1></p>
	<dl>
		<dt>User id</dt>
		<dd><%= userId %></dd>

		<dt>Given Name(s)</dt>
		<dd><%= profile.givenNames %></dd>

		<dt>Family Name</dt>
		<dd><%= profile.familyName %></dd>

		<dt>Phone Number</dt>
		<dd><%= profile.phoneNumber %></dd>

		<dt>Date of birth</dt>
		<dd><%= profile.dateOfBirth %></dd>

		<dt>Postal Address</dt>
		<dd><%= profile.postalAddress %></dd>

		<dt>Email Address</dt>
		<dd><%= profile.emailAddress %></dd>

		<dt>Nationality</dt>
		<dd><%= profile.nationality %></dd>

		<dt>Gender</dt>
		<dd><%= profile.gender %></dd>

		<dt>Selfie from Base64 Data</dt>
		<dd><img alt="selfie" src="<%= profile.selfie %>" /></dd>

		<dt>Saved Selfie</dt>
		<dd><img alt="selfie" src="/static/YotiSelfie.jpeg" /></dd>

		<dt>Download Selfie</dt>
		<dd><a href="<%= profile.selfie %>" download="YotiSelfie.jpeg" target="_blank">Download Selfie</a></dd>
	</dl>
</body>
</html>
