<%
replaceDashAndUnderscoreWithSpace = function (value) {
    if (value) {
       return value.replace(/[_-]/g, ' ');
   }
}
capitaliseString = function (value) {
    if (value) {
        return value.charAt(0).toUpperCase() + value.slice(1).toLowerCase();
    }
}
formatSpecialWords = function (value) {
    if (value) {
        let formattedString = value;
        const uppercaseSpecialWords = ['ai', 'pep', 'dob', 'mrz', 'fail', 'pass'];

        uppercaseSpecialWords.forEach(word => {
            const regexp = new RegExp(`\\b${word}\\b`, 'gi');
            formattedString = formattedString.replace(regexp, match => match.toUpperCase());
        })

        return formattedString;
    }
}
formatString = function (value) {
    if(value) {
        const inputString = value.toString();
        const stringWithoutDashesAndUnderscores = replaceDashAndUnderscoreWithSpace(inputString);
        const capitalisedString = capitaliseString(stringWithoutDashesAndUnderscores);
        return formatSpecialWords(capitalisedString);
    }
}
%>

<table class="table table-striped">
    <tbody>
        <tr>
            <td>ID</td>
            <td><%= check.getId(); %></td>
        </tr>
        <tr>
            <td>State</td>
            <td>
                <span class="badge badge-<%= check.getState() === 'DONE' ? 'success' : 'secondary' %>">
                    <%= check.getState(); %>
                </span>
            </td>
        </tr>
        <tr>
            <td>Created</td>
            <td><%= check.getCreated(); %></td>
        </tr>
        <tr>
            <td>Last Updated</td>
            <td><%= check.getLastUpdated(); %></td>
        </tr>
        <tr>
            <td>Resources Used</td>
            <td><%= check.getResourcesUsed().join(', '); %></td>
        </tr>


        <% if (check.getReport()) { %>
        <% if (check.getReport().getRecommendation()) { %>
        <%
            const recommendation = check.getReport().getRecommendation();
        %>
        <tr>
            <td>Recommendation</td>
            <td>
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <% if (recommendation.getValue()) { %>
                            <td>Value</td>
                            <td><%= replaceDashAndUnderscoreWithSpace(recommendation.getValue().toString()); %></td>
                            <% } %>
                        </tr>
                        <tr>
                            <% if (recommendation.getReason()) { %>
                            <td>Reason</td>
                            <td><%= replaceDashAndUnderscoreWithSpace(recommendation.getReason().toString()); %></td>
                            <% } %>
                        </tr>
                        <tr>
                            <% if (recommendation.getRecoverySuggestion()) { %>
                            <td>Recovery suggestion</td>
                            <td><%= recommendation.getRecoverySuggestion(); %></td>
                            <% } %>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <% } %>

        <% if (check.getReport().getBreakdown() && check.getReport().getBreakdown().length > 0) { %>
        <tr>
            <td>Breakdown</td>
            <td>
                <% check.getReport().getBreakdown().forEach(function(breakdown) { %>
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <% if (breakdown.getSubCheck()) { %>
                            <td>Sub check</td>
                            <td><%= formatString(breakdown.getSubCheck()); %></td>
                            <% } %>
                        </tr>
                        <tr>
                            <% if (breakdown.getResult()) { %>
                            <td>Result</td>
                            <td><%= breakdown.getResult(); %></td>
                            <% } %>
                        </tr>
                        <% if (breakdown.getDetails() && breakdown.getDetails().length > 0) { %>
                        <tr>
                            <td>Details</td>
                            <td>
                                <table class="table table-striped">
                                    <tbody>
                                        <% breakdown.getDetails().forEach(function(details) { %>
                                        <tr>
                                            <td style="width: auto"><%= formatString(details.getName()); %></td>
                                            <td style="width: auto"><%= details.getValue().split(',').map(value => formatString(value)).join(', '); %></td>
                                        </tr>
                                        <% }); %>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <% } %>
                    </tbody>
                </table>
                <% }); %>
            </td>
        </tr>
        <% } %>

        <% if (typeof check.getReport().getWatchlistSummary === 'function' && check.getReport().getWatchlistSummary()) { %>
        <%
            const watchlistSummary = check.getReport().getWatchlistSummary();
        %>
        <tr>
            <td>Watchlist Summary</td>
            <td>
                <table class="table table-bordered">
                    <tbody>
                        <% if (watchlistSummary.getTotalHits()) { %>
                        <tr>
                            <td>Total hits</td>
                            <td><%= watchlistSummary.getTotalHits(); %></td>
                        </tr>
                        <% } %>
                        <% if (watchlistSummary.getAssociatedCountryCodes() && watchlistSummary.getAssociatedCountryCodes().length > 0) { %>
                        <tr>
                            <td>Associated country codes</td>
                            <td><%= watchlistSummary.getAssociatedCountryCodes().join(', '); %></td>
                        </tr>
                        <% } %>
                        <% if (watchlistSummary.getRawResults() && watchlistSummary.getRawResults().getMedia()) { %>
                        <%
                            const rawResultsMedia = watchlistSummary.getRawResults().getMedia();
                        %>
                        <tr>
                            <td>Raw results</td>
                            <td>
                                <table class="table table-striped">
                                    <tbody>
                                        <tr>
                                            <td style="width: auto">Media</td>
                                            <td>
                                                <table class="table table-striped small">
                                                    <tbody>
                                                        <tr>
                                                            <td style="width: auto">ID</td>
                                                            <td><a href="/media?mediaId=<%= rawResultsMedia.id %>"><%= rawResultsMedia.id; %></a></td>
                                                        </tr>
                                                        <tr>
                                                            <td style="width: auto">Type</td>
                                                            <td><%= rawResultsMedia.type; %></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <% } %>
                        <% if (typeof watchlistSummary.getSearchConfig === 'function' && watchlistSummary.getSearchConfig()) { %>
                        <%
                            const searchConfig = watchlistSummary.getSearchConfig();
                        %>
                        <tr>
                            <td>Search config</td>
                            <td>
                                <table class="table table-striped">
                                    <tbody>
                                        <% if (typeof searchConfig.getCategories === 'function' && searchConfig.getCategories().length > 0) { %>
                                        <tr>
                                            <td style="width: auto">Categories</td>
                                            <td><%= searchConfig.getCategories().map(category => formatString(category)).join(', '); %></td>
                                        </tr>
                                        <% } %>
                                        <% if (typeof searchConfig.getType === 'function' && searchConfig.getType()) { %>
                                        <tr>
                                            <td style="width: auto">Type</td>
                                            <td><%= formatString(searchConfig.getType()); %></td>
                                        </tr>
                                        <% } %>
                                        <% if (typeof searchConfig.isRemoveDeceased === 'function' && searchConfig.isRemoveDeceased()) { %>
                                        <tr>
                                            <td style="width: auto">Remove deceased</td>
                                            <td><%= formatString(searchConfig.isRemoveDeceased()); %></td>
                                        </tr>
                                        <% } %>
                                        <% if (typeof searchConfig.isShareUrl === 'function' && searchConfig.isShareUrl()) { %>
                                        <tr>
                                            <td style="width: auto">Share URL</td>
                                            <td><%= formatString(searchConfig.isShareUrl()); %></td>
                                        </tr>
                                        <% } %>
                                        <% if (typeof searchConfig.getSources ==='function' && searchConfig.getSources()) { %>
                                        <%
                                            const sources = searchConfig.getSources();
                                        %>
                                        <tr>
                                            <td style="width: auto">Sources</td>
                                            <td>
                                                <table class="table table-striped small">
                                                    <tbody>
                                                        <% if (typeof sources.getType === 'function') { %>
                                                        <tr>
                                                            <td style="width: auto">Type</td>
                                                            <td><%= formatString(sources.getType()); %></td>
                                                        </tr>
                                                        <% } %>
                                                        <% if (typeof sources.getTypes === 'function' && sources.getTypes().length > 0) { %>
                                                        <tr>
                                                            <td style="width: auto">Types</td>
                                                            <td><%= sources.getTypes().map(type => formatString(type)).join(', '); %></td>
                                                        </tr>
                                                        <% } %>
                                                        <% if (typeof sources.getSearchProfile === 'function') { %>
                                                        <tr>
                                                            <td style="width: auto">Search profile</td>
                                                            <td><%= sources.getSearchProfile(); %></td>
                                                        </tr>
                                                        <% } %>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        <% } %>
                                        <% if (typeof searchConfig.getMatchingStrategy === 'function' && searchConfig.getMatchingStrategy()) { %>
                                        <%
                                            const matchingStrategy = searchConfig.getMatchingStrategy();
                                        %>
                                        <tr>
                                            <td style="width: auto">Matching strategy</td>
                                            <td>
                                                <table class="table table-striped small">
                                                    <tbody>
                                                        <% if (typeof matchingStrategy.getType === 'function') { %>
                                                        <tr>
                                                            <td style="width: auto">Type</td>
                                                            <td><%= formatString(matchingStrategy.getType()); %></td>
                                                        </tr>
                                                        <% } %>
                                                        <% if (typeof matchingStrategy.getFuzziness === 'function') { %>
                                                        <tr>
                                                            <td style="width: auto">Fuzziness</td>
                                                            <td><%= matchingStrategy.getFuzziness(); %></td>
                                                        </tr>
                                                        <% } %>
                                                        <% if (typeof matchingStrategy.isExactMatch === 'function') { %>
                                                        <tr>
                                                            <td style="width: auto">Exact match</td>
                                                            <td><%= formatString(matchingStrategy.isExactMatch()); %></td>
                                                        </tr>
                                                        <% } %>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        <% } %>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <% } %>
                    </tbody>
                </table>
            </td>
        </tr>
        <% } %>

        <% } %>

        <% if (check.getGeneratedMedia() && check.getGeneratedMedia().length > 0) { %>
        <tr>
            <td>Generated Media</td>
            <td>
                <% check.getGeneratedMedia().forEach(function(media) { %>
                <table class="table table-striped">
                    <tbody>
                        <tr>
                            <td>ID</td>
                            <td><a href="/media?mediaId=<%= media.getId() %>"><%= media.getId(); %></a></td>
                        </tr>
                        <tr>
                            <td>Type</td>
                            <td><%= media.getType(); %></td>
                        </tr>
                    </tbody>
                </table>
                <% }); %>
            </td>
        </tr>
        <% } %>

        <% if (typeof check.getGeneratedProfile === 'function' && check.getGeneratedProfile()) { %>
        <%
            const generatedProfile = check.getGeneratedProfile();
        %>
        <tr>
            <td>Generated Profile</td>
            <td>
                <table class="table table-striped">
                    <tbody>
                        <tr>
                            <td>ID</td>
                            <td><a href="/media?mediaId=<%= generatedProfile.media.id %>"><%= generatedProfile.media.id; %></a></td>
                        </tr>
                        <tr>
                            <td>Type</td>
                            <td><%= generatedProfile.media.type; %></td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <% } %>

    </tbody>
</table>
