<table class="table table-striped">
    <tbody>
    <tr>
        <td>Subject ID</td>
        <td>
            <%= identityProfile.getSubjectId(); %>
        </td>
    </tr>
    <tr>
        <td>Result</td>
        <td>
            <%= identityProfile.getResult(); %>
        </td>
    </tr>
    <% if (identityProfile.getFailureReason()) { %>
    <tr>
        <td>Error details:</td>
        <td>
            <table class="table table-striped">
                <tbody>
                <tr>
                    <td style="width: auto">Error code</td>
                    <td><%= identityProfile.getFailureReason().getReasonCode(); %></td>
                </tr>
                <tr>
                    <td style="width: auto">Additional details</td>
                    <td><pre><%= JSON.stringify(identityProfile.getFailureReason().getRequirementsNotMetDetails(), null, 2); %></pre></td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    <% } %>
    <% if (identityProfile.getIdentityProfileReport()) { %>
    <tr>
        <td>Identity Profile Report</td>
        <td>
            <table class="table table-striped">
                <tbody>
                <tr>
                    <td style="width: auto">Trust framework</td>
                    <td><%= identityProfile.getIdentityProfileReport().getTrustFramework(); %></td>
                </tr>
                <% if (identityProfile.getIdentityProfileReport().getSchemesCompliance().length > 0) { %>
                    <tr>
                        <td style="width: auto">Compliance per scheme</td>
                        <td>
                            <% identityProfile.getIdentityProfileReport().getSchemesCompliance().forEach(function(compliancePerScheme) { %>
                                <table class="table table-bordered">
                                    <tbody>
                                    <% if (compliancePerScheme.getScheme().getType()) { %>
                                        <tr>
                                            <td>Type</td>
                                            <td><%= compliancePerScheme.getScheme().getType() %></td>
                                        </tr>
                                    <% } %>
                                    <% if (compliancePerScheme.getScheme().getObjective()) { %>
                                        <tr>
                                            <td>Objective</td>
                                            <td><%= compliancePerScheme.getScheme().getObjective() %></td>
                                        </tr>
                                    <% } %>
                                    <tr>
                                        <td>Requirements met?</td>
                                        <td><%= compliancePerScheme.isRequirementsMet() %></td>
                                    </tr>
                                    <% if (compliancePerScheme.getRequirementsNotMetInfo()) { %>
                                        <tr>
                                            <td>Requirements not met info</td>
                                            <td><%= compliancePerScheme.getRequirementsNotMetInfo() %></td>
                                        </tr>
                                    <% } %>
                                    </tbody>
                                </table>
                            <% }) %>
                        </td>
                    </tr>
                <% } %>
                </tbody>
            </table>
        </td>
    </tr>
    <tr>
        <td>Identity Assertion Media</td>
        <td><a href="/media?mediaId=<%= identityProfile.getIdentityProfileReport().getMedia().getId() %>"><%= identityProfile.getIdentityProfileReport().getMedia().getId(); %></a></td>
    </tr>
    <% } %>
    </tbody>
</table>
