<table class="table table-striped table-dark">
    <tbody>
        <tr>
            <td>ID</td>
            <td><%= check.getId(); %></td>
        </tr>
        <tr>
            <td>State</td>
            <td><%= check.getState(); %></td>
        </tr>
        <tr>
            <td>Created</td>
            <td><%= check.getCreated(); %></td>
        </tr>
        <tr>
            <td>Last Updated</td>
            <td><%= check.getLastUpdated(); %></td>
        </tr>
        <tr>
            <td>Resources Used</td>
            <td><%= check.getResourcesUsed().join(', '); %></td>
        </tr>
        <% if (check.getReport()) { %>
        <tr>
            <td colspan="2">
                <% if (check.getReport().getBreakdown().length > 0) { %>
                <h5>Breakdown</h5>
                    <% check.getReport().getBreakdown().forEach(function(breakdown) { %>
                        <table class="table table-striped table-light">
                            <tbody>
                                <tr>
                                    <td>Sub Check</td>
                                    <td><%= breakdown.getSubCheck(); %></td>
                                </tr>
                                <tr>
                                    <td>Result</td>
                                    <td><%= breakdown.getResult(); %></td>
                                </tr>
                            </tbody>
                        </table>
                    <% }); %>
                <% } %>
            </td>
        </tr>
        <% } %>
    </tbody>
</table>